.arrowIcon {
  $this: &;
  @extend %fa-icon;
  @extend .fas;
  @extend .fa-angle-right;
  font-size: 1.6rem;
  &--Medium {
    @extend #{$this};
    font-size: 2.4rem;
  }
  &--greenLarge {
    @extend #{$this};
    font-size: 2.5rem;
    color: $colorBrand;
  }
  &--greenMedium {
    @extend #{$this};
    font-size: 2.4rem;
    color: $colorBrand;
  }
  &--greenSmall {
    @extend #{$this};
    font-size: 1.4rem;
    color: $colorBrand;
  }
}
